*{ margin: 0; 
	padding: 0;
	box-sizing: border;
 font-family: 'Roboto', sans-serif;}

 #kpr{height: 40px;
 		width: 55px;
 		margin-right: 5px;}
body {background-image: url('images/bg7.jpg');}

  #car{ font-family: 'Permanent Marker', cursive; 
  	background-image: url('images/bg7.jpg');
  	background-size: cover;
    height: 100%;}

#car img {height: 40%;
			width: 40%;}

#car h1{font-family: 'Kaushan Script', cursive;
       font-size: 80px;
   		margin:  10px;}

.modal-body{background-image: url('images/bg8.jpg');
  		background-size: cover;
  		height: 100%;}
		
#Aboutme {
font-family: 'Kaushan Script', cursive;
}


.abc {font-family: 'Roboto', sans-serif;}

.con {font-family: 'Kaushan Script', cursive}

 .foot{background-image: url('images/bg10.jpg');
  		background-size: cover;
  		font-size:  8px;
  		padding: 0;
  		margin: 0;
  		width: 100%;}

 .foot ul li a{font-family: 'Poiret One', cursive;
 				color: white;}

 #and ul li {font-family: 'Poiret One', cursive;
 				color: white;}

 .foot form label{font-family: 'Poiret One', cursive;}



 nav a {font-family: 'Lobster', cursive;
 		font-size: 25px;}

 		
 